<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38968273539-skh81jgebtdoa996cq8m9m9v6knuu951.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38968273539-skh81jgebtdoa996cq8m9m9v6knuu951</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZwLJfZ7wSRJ2C4mmMn6tFm2z2Io_DAE</string>
	<key>GCM_SENDER_ID</key>
	<string>38968273539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.Scumper</string>
	<key>PROJECT_ID</key>
	<string>fireitdemoproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fireitdemoproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38968273539:ios:25929a82f5558a34</string>
	<key>DATABASE_URL</key>
	<string>https://fireitdemoproject.firebaseio.com</string>
</dict>
</plist>